@model IEnumerable<TenisKortProjesi.Models.Rezervation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fields.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours.Hour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Users.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsComplated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fields.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hours.Hour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
